.idea/libraries/

.idea/

server.iml

html/war/assets/

html/build/gwt/work/ru.gb.GdxDefinitionSuperdev/compile-1/war/html/gwt/chrome/images/

html/build/gwt/draftOut/html/gwt/chrome/images/ie6/

html/build/gwt/draftOut/assets/

.gradle/7.5.1/checksums/

.gradle/7.5.1/dependencies-accessors/

.gradle/7.5.1/executionHistory/

.gradle/7.5.1/fileChanges/

.gradle/7.5.1/fileHashes/

.gradle/7.5.1/

.gradle/

assets/shoot.mp3

assets/game.pack

assets/music.mp3

*.class

core/build/tmp/compileJava/previous-compilation-data.bin

gradle/wrapper/

html/build/gwt/cache/gwt-unitCache/

*.js

html/build/gwt/draftOut/html/

html/build/tmp/compileJava/

html/build/inplaceWebapp/

html/build/gwt/work/ru.gb.GdxDefinitionSuperdev/compile-1/war/html/gwt/chrome/

html/build/gwt/work/ru.gb.GdxDefinitionSuperdev/compile-1/

html/build/

gradlew.bat

gradlew

game/core/src/ru/gb/game/
